<% include partials/header %>

<div class="about-page content">

  <p class="the-abouts">ABOUT THE BLOG</p>
  <p>Daily journal is an expansion of the blog tutorial by <a href="https://www.appbrewery.co/" target="_blank" rel="noopener noreferrer">App Brewery</a>.</p>
  <p>It's a multi-user blog platform that enables you to freely and securely create and delete content.</p>

  <div class="about-me content ">
    <p class="the-abouts">ABOUT ME</p>
    <p>I'm Vrishti Bansal, a Software Developer and Graphic Designer based in Delhi, India</p>
    <p>You can find more of my work on <a href="https://beingvrishti.com" target="_blank" rel="noopener noreferrer" style="text-decoration: underline;">my personal website</a>.</p>
    <br>
    <p class="the-abouts">CONTACT ME:</p>
    <div class="contact-page">
      <p class="contact-link">
        <i class="icon fab fa-linkedin"> <a class="content" href="https://www.linkedin.com/in/vrishti-bansal/"
            target="_blank" rel="noopener noreferrer">Linkedin</a></i>
      </p>
      <p class="contact-link">
        <i class="far fa-envelope"> <a class="content" href="mailto: vrishti2012@gmail.com" target="_blank" rel="noopener noreferrer">Email</a></i>
      </p>
      <p class="contact-link">
        <i class="fab fa-github"> <a class="content" href="https://github.com/vrishtibansal12" target="_blank" rel="noopener noreferrer">Github</a></i>
      </p>
    </div>
  </div>
</div>

<% include partials/footer %>